body, html {
    margin: 0;
    padding-right: 80px;
    padding-left: 10px;
    font-family: sans-serif;
    color: #333;
}
h1, h2 { 
    color:#333366;
    margin-bottom: 30px;

}
.centered {
    border: 2px solid #000; 
    width: fit-content;    
    margin: 0 auto;         
    padding: 10px 40px;     
    
}
.centered li {
    text-align: left;
    
}
.food {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 60px auto;
    max-width: 800px;
}

.food-pic{
    background-image: url("pictures/pasta.jpg"); 
    background-size: cover;
    background-position: center;
    width: 700px;
    height: 300px;
    
}

.food2.text {
    font-size: 18px;
}

.book-table tbody tr:nth-child(even) {
    background-color: #b40a0a; /* Light gray background for even rows */
}

.guestbook-form {

    margin-right: 10px;
}

.row {
    display: flex;
    text-align: right;
    margin-bottom: 10px;
}

label {
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.submit-button .spacer {
    margin-right:10px;
    width: 100px;
}

.social-media {
    position:fixed;
    top: 100px;
    right:35px;
    gap:20px;
    display:flex;
}

@media only screen and (max-width: 599px) {

    body, html {
        padding-right: 20px;
        padding-left: 20px;
        background-color: lightblue;
   
    }

    h1, h2 {

        margin: 20px 0;
        text-align: center;
    }

    .centered {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
    }

    .centered li {
    text-align: left;
    margin-left: 40px;
    
    }
    
    .food {
        flex-direction: column;
        align-items: center;
    }

    .food-pic {
        width: 100%;
        height: 200px;
    }

    .food2-text {
        padding: 0 10px;
        font-size: 16px;
    }

    .book-table {
        width: 100%;
        font-size: 14px;
        overflow-x: auto;
        display: block;
    }

    .book-table img {
        width: 60px;
    }

    .row {
  
        text-align: right;
    }

    label {
       
        text-align: right;
        margin-bottom: 5px;
    }

    .submit-button {
        justify-content: flex-start;
    }

    .submit-button .spacer {
       margin-right:10px;
        width: 100px;
    }

    .guestbook-form {
        margin-right: 0;
    }

    .social-media {
        position: static;
        justify-content: center;
    }

}
